/* font format*/


/* ends font format*/


/* customize layout*/

/* ends customize layout*/


/* hidden */

.hidden {
    display: none;
    visibility: hidden
}
.visible-phone {
    display: none !important
}
.visible-tablet {
    display: none !important
}
.hidden-desktop {
    display: none !important
}
.visible-desktop {
    display: inherit !important
}
@media (min-width: 768px) and (max-width: 979px) {
    .hidden-desktop {
        display: inherit !important
    }
    .visible-desktop {
        display: none !important
    }
    .visible-tablet {
        display: inherit !important
    }
    .hidden-tablet {
        display: none !important
    }
}
@media (max-width: 767px) {
    .hidden-desktop {
        display: inherit !important
    }
    .visible-desktop {
        display: none !important
    }
    .visible-phone {
        display: inherit !important
    }
    .hidden-phone {
        display: none !important
    }
}

/* end hiddening*/

/* how it works*/
#how-it-works {
    background: #008dd8;
    color: white;
    padding: 100px 0px;
}
#how-it-works>.inner>header {
    padding-top: 80px;
    padding-bottom: 70px;
}
#how-it-works>.inner>header h2 {
    color: white;
    font-family: 'museo-sans-n5', 'museo-sans', sans-serif;
    font-size: 4.2em;
    font-weight: 500;
}
#how-it-works>.inner>header h2 strong {
    font-family: 'museo-sans-n9', 'museo-sans', sans-serif;
    font-weight: 900;
}
#how-it-works>.inner>header h3 {
    color: #b3dbf1;
}
#how-it-works>.inner>article h5 {
    color: white;
}
#how-it-works>.inner>article p {
    color: white;
    margin: 0 0 60px;
}
#how-it-works>.inner>article .timeline .step .marker {
    border-color: #008dd8;
}
#how-it-works>.inner>article .timeline .step .tl-icon {
    height:72px; 
    width: 72px; 
    border-radius: 50%; 
    margin-bottom:5px;
}

#how-it-works>.inner>article .timeline .footnote {
    height: auto;
    padding-bottom: 65px
}
#how-it-works>.inner>article .timeline .footnote strong {
    color: #03476a
}
#how-it-works>.inner>article .timeline .footnote strong em {
    color: white
}
#how-it-works>.inner {
  position: relative;
  max-width: 1050px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ends How it works*/

/* timeline*/
.timeline .flag {
    position: relative;
    z-index: 30;
    display: inline-block;
    padding-bottom: 15px;
    float: left
}
.timeline .flag .inner {
    position: relative;
    width: 65px;
    height: 54px;
    margin: 0 auto 15px;
    background: #5cb6e6;
    color: white;
    text-align: center;
    font-size: 1.4em;
    line-height: 23px
}
.timeline .flag .inner strong {
    display: block;
    height: 31px;
    background: white;
    color: #484745;
    font-size: 30px;
    font-weight: bold;
    line-height: 31px
}
.timeline .flag .inner:after {
    position: absolute;
    content: " ";
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff
}
.timeline .bar {
    position: relative;
    z-index: 10;
    clear: both;
    height: 6px;
    margin: 0 auto 32px;
    background: rgba(255, 255, 255, 0.3)
}
.timeline .step {
    position: relative;
    z-index: 20;
    float: left;
    text-align: center
}
.timeline .step h5,
.timeline .step p {
    margin: 0 !important;
    font-size: 1.4em
}
.timeline .step p {
    line-height: 128.571%
}
.timeline .step .marker {
    position: absolute;
    top: -50px;
    left: 48%;
    width: 30px;
    height: 30px;
    margin-left: -12px;
    background: white;
    border: 5px solid transparent;
    border-radius: 50%;
}
.timeline .step .inner {
    position: relative;
    padding: 15px
}
.timeline .step .inner:after {
    position: absolute;
    content: " ";
    top: -15px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff
}
.timeline .step .inner .icon {
    position: relative;
    width: 150px;
    height: 65px;
    margin: 0 0 10px -75px;
    left: 50%
}
.timeline.positions-5 .flag {
    width: 20%
}
.timeline.positions-5 .flag.offset-left-1 {
    margin-left: 20%
}
.timeline.positions-5 .flag.offset-left-2 {
    margin-left: 40%
}
.timeline.positions-5 .flag.offset-left-3 {
    margin-left: 60%
}
.timeline.positions-5 .flag.offset-left-4 {
    margin-left: 80%
}
.timeline.positions-5 .bar {
    width: 80%
}
.timeline.positions-5 .step {
    width: 20%
}
.timeline .pos-1 {
    height: 190px;
    background: rgba(0, 0, 0, 0.08)
}
.timeline .pos-1 .inner:after {
    border-bottom-color: rgba(0, 0, 0, 0.08)
}
.timeline .pos-2 {
    height: 210px;
    background: rgba(0, 0, 0, 0.14)
}
.timeline .pos-2 .inner:after {
    border-bottom-color: rgba(0, 0, 0, 0.14)
}
.timeline .pos-3 {
    height: 230px;
    background: rgba(0, 0, 0, 0.2)
}
.timeline .pos-3 .inner:after {
    border-bottom-color: rgba(0, 0, 0, 0.2)
}
.timeline .pos-4 {
    height: 250px;
    background: rgba(0, 0, 0, 0.26)
}
.timeline .pos-4 .inner:after {
    border-bottom-color: rgba(0, 0, 0, 0.26)
}
.timeline .pos-5 {
    height: 270px;
    background: rgba(0, 0, 0, 0.31)
}
.timeline .pos-5 .inner:after {
    border-bottom-color: rgba(0, 0, 0, 0.31)
}
.timeline .footnote {
    position: relative;
    padding-top: 75px;
    clear: both;
    color: white;
    background: none;
    font-size: 1.4em;
    line-height: 128.571%;
    text-align: right
}
.timeline .footnote:after {
    position: absolute;
    content: " ";
    top: 10px;
    right: 60px;
    height: 45px;
    width: 6px;
    background: url(//assets-impress-services.s3.amazonaws.com/assets/dash-vertical-thick-6140b2759496e4fcf86fc5c2290b162c.png) repeat-y;
    opacity: 0.3
}
.timeline .footnote em {
    font-style: normal
}



/* end Timeline*/


@media (max-width: 1023px) {
    .timeline .pos-1,
    .timeline .pos-2,
    .timeline .pos-3,
    .timeline .pos-4,
    .timeline .pos-5 {
        height: 250px
    }
}

#how-it-works>.inner>article .timeline .step .inner h5 {
        font-size: 0.9em;
        margin: 0 0 10px !important
    }
#how-it-works>.inner>article .timeline .step .inner p {
        font-size: 0.9em;
        text-align: center
    }
@media (max-width: 767px) {
    #how-it-works>.inner>header {
        padding-top: 40px;
        padding-bottom: 0
    }
    #how-it-works>.inner>header h2 {
        font-size: 2.8em;
        margin-bottom: 10px
    }
    #how-it-works>.inner>header h3 {
        line-height: 110%;
        margin-bottom: 30px
    }
    #how-it-works>.inner>article h5 {
        font-size: 2em;
        line-height: 110%;
        margin: 0 0 10px
    }
    #how-it-works>.inner>article p {
        color: white;
        margin: 0 0 10px
    }
    #how-it-works>.inner>article .timeline .flag {
        width: 100%;
        padding-bottom: 0
    }
    #how-it-works>.inner>article .timeline .flag .inner {
        width: 32px;
        height: 30px;
        margin-bottom: 7px;
        font-size: 0.9em;
        line-height: 14px
    }
    #how-it-works>.inner>article .timeline .flag .inner:after {
        bottom: -7px;
        margin-left: -7px;
        border-left-width: 7px;
        border-right-width: 7px;
        border-top-width: 7px
    }
    #how-it-works>.inner>article .timeline .flag .inner strong {
        height: 16px;
        font-size: 13px;
        line-height: 16px
    }
    #how-it-works>.inner>article .timeline .flag#day-1 .inner {
        margin-bottom: -20px
    }
    #how-it-works>.inner>article .timeline .flag#day-14-mobile {
        margin-top: -11px;
        margin-bottom: -26px
    }
    #how-it-works>.inner>article .timeline .bar {
        display: none
    }
    #how-it-works>.inner>article .timeline .step {
        width: 100%;
        height: auto;
        clear: both
    }
    #how-it-works>.inner>article .timeline .step .marker {
        display: none
    }
    #how-it-works>.inner>article .timeline .step .inner {
        padding: 30px 25px 25px
    }
    #how-it-works>.inner>article .timeline .step .inner:after {
        top: 0;
        border-bottom: none;
        border-top: 15px solid #fff
    }
    #how-it-works>.inner>article .timeline .step .inner .tl-icon {
        background: none;
        display: none
    }
    #how-it-works>.inner>article .timeline .step .inner h5 {
        font-size: 1.2em;
        margin: 0 0 10px !important
    }
    #how-it-works>.inner>article .timeline .step .inner p {
        font-size: 0.9em;
        text-align: center
    }
    #how-it-works>.inner>article .timeline .step.pos-1 {
        padding-top: 10px
    }
    #how-it-works>.inner>article .timeline .step.pos-1 .inner:after {
        border-top: none
    }
    #how-it-works>.inner>article .timeline .step.pos-2 .inner:after {
        border-top-color: rgba(255, 255, 255, 0.07)
    }
    #how-it-works>.inner>article .timeline .step.pos-3 .inner:after {
        border-top-color: rgba(255, 255, 255, 0.07)
    }
    #how-it-works>.inner>article .timeline .step.pos-4 .inner:after {
        border-top-color: rgba(255, 255, 255, 0.06)
    }
    #how-it-works>.inner>article .timeline .step.pos-5 {
        padding-top: 10px
    }
    #how-it-works>.inner>article .timeline .step.pos-5 .inner:after {
        display: none
    }
    #how-it-works>.inner>article .timeline .footnote {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center
    }
    #how-it-works>.inner>article .timeline .footnote:after {
        display: none
    }
    #how-it-works>.inner>article .timeline .footnote strong {
        font-size: 1.2em;
        margin-bottom: 5px
    }
    #how-it-works>.inner>article .timeline .step .icon {
        background-image: url(//assets-impress-services.s3.amazonaws.com/assets/timeline-steps-sprite.retina-356b6d7d00fd14206f6e38112799c5f9.png)
    }
}


/* Contact quizzzz */

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*form styles*/
#msform {
    width: 600px;
    margin: 50px auto;
    padding-bottom: 180px;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 50px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 3%;
    
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
   
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
   
}

/*buttons*/
#msform .action-button {
    width: 100px;
    height: auto;
    background: #0088cc;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    background-color: #33A0D6;
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #0088cc;*/
}

/*radio buttons*/
.fs-option input, .fs-option textarea{
    line-height: 30px;
    height: 15px !important;
    width: 30px !important;
}

.fs-option {
    text-align: left !important;
}

.fs-option:hover, .fs-option input {
    background: grey;
    cursor: pointer;
    color: white;
}

/*headings*/
h2.fs-title {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: black !important;
    margin-bottom: 15px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: black !important;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}



/* Product description */

.icon, .icon img {
  position: relative;
  cursor: pointer;
  margin: auto;
  color: blue;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  text-align: center;
  font-size: 2.75em;
  font-weight: bold;
  transition: 0.24s 0.2s;
}

.icon a, .icon ul, .icon li {
  margin: 0;
  outline: 0;
  padding: 0;
  list-style-type: none;
}

.lightbox {
    list-style-type: none;
}

.menu {
  position: absolute;
  top: -60px;
  left: -60px;
  border: 150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -5;
}

.spread {
  position: absolute;
  top: -235px;
  left: -200px;
  right: -200px;
  transform-origin: 200px 200px;
  transition: all 0.5s 0.1s;
}

/* Where all the MAGIC happens: */
.icon:hover .menu {
  transition: transform 0.4s 0.08s;
  transform: scale(1);
}
.icon:hover .spread, .icon:hover .unit {
  transition: all 0.6s;
}
.icon:hover .spread:nth-child(2) {
  transition-delay: 0.04s;
  transform: rotate(390deg);
}
.icon:hover .spread:nth-child(2) .unit {
  transition-delay: 0.08s;
  transform: rotate(-30deg);
}
.icon:hover .spread:nth-child(3) {
  transition-delay: 0.06s;
  transform: rotate(510deg);
}
.icon:hover .spread:nth-child(3) .unit {
  transition-delay: 0.12s;
  transform: rotate(-150deg);
}
.icon:hover .spread:nth-child(4) {
  transition-delay: 0.02s;
  transform: rotate(270deg);
}
.icon:hover .spread:nth-child(4) .unit {
  transition-delay: 0.04s;
  transform: rotate(90deg);
}
/* END .icon:hover */
.unit {
  position: absolute;
  background: #0088cc;
  font-size: 50%;
  text-decoration: none;
  width: 180px;
  height: 90px;
  padding-top: 30px !important;
  line-height: 1em;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}

.unit:hover {
    color: white;
    text-decoration: none;
}



@media (max-width: 1240px) {
    .icon {
        margin-bottom: 150px;
    }
}

/*ends Product description*/

/* Team introduction */
.tiles {
    max-width: 100%;
    height: 300px;
    font-size: 0;
    text-align: center;
    position: relative;
    margin: 30px 0 100px;
}
.tile {
    width: 16%;
}
.tiles .tile {
    display: inline-block;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
}
.tiles .tile:before {
    content: '';
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    -webkit-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.tiles .tile img {
    display: block;
    max-width: 100%;
    width: 400px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.tiles .tile .details {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.tiles .tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    -webkit-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.tiles .tile .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
}
.tiles .tile .details .info {
    line-height: 1.2;
    font-size: 12px;
}
.tiles .tile:hover:before,
.tiles .tile:hover span {
    opacity: 1;
}
.tiles .tile:hover:before {
    top: 50%;
}
.tiles .tile:hover span {
    top: 0;
}
.tiles .tile:hover .title {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.tiles .tile:hover .info {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.tiles:hover a:not(:hover) {
    opacity: 0.5;
    -webkit-filter: saturate(50%);
    filter: saturate(50%);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

@media (max-width: 1000px) {
    .tiles {
        margin: 0 5%;
        position: relative;
        height: 700px;
    }
    .tile {
        width: 25%;
        
    }
}

@media (max-width: 767px) {
    .tiles {
        margin: 0 15%;
        height: 1100px;
    }
    .tile {
        width: 50%;
        position: relative;
    }
}

/* ends Team Introduction*/


